#snow {
    position: relative;
    font: Helvetica Neue;
    height: 100vh;
    background: #005;
    width: 100vw;
}

canvas.back {
  background:
    linear-gradient(
      hsl(200, 50%, 80%) 0%,
      hsl(200, 30%, 95%) 75%)
  ;
  display: block;
}

div.back {
  background: url(http://jackrugile.com/images/misc/skyline-texture.png);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -1.5px;
}
.red {
    color: #f00;
    font-weight: 800;
}
.btn-wapper {
    postion: absolute;
    left: 30px;
    top: 30px;
    height: 3em;
    width: 3em;
}
.logo {
    position: absolute;
    width: 200px;
    left: 20vw;
    top: 20vh;
}
.snow {
  display: absolute;
  height: 100vh;
  width: 100vw;
}
.panel {
    position: absolute;
    top: calc(50% - 35vh);
    left: calc(50% - 35vw);
    height: 70vh;
    width: 70vw;
    padding: 0;
    border-radius: 2em;
    background: rgba(222,222,222,08);
}
.quote {
    width: 40%;
    position: relative;
    top: 40vh;
    left: 20vw;
}

.wrapper {
    height: 2em;
    overflow: hidden;
}
.element {
    text-align: left;
    font-size: 1.25em;
}
